.body{
    box-sizing: border-box;
}

.title{
    background-color: rgb(71, 125, 206);
    background-image: linear-gradient(to bottom,rgb(53, 53, 226), rgb(96, 116, 228),rgb(191, 210, 221));
    font-size:60px;
    text-align: center;
    padding: 10px;
    
    
}
.head{
    padding: 0px 0px 30px 30px;
    font-size:17px;
    text-decoration: none;
    color: rgb(13, 16, 66);
}

a:hover{
    cursor:grab;
    text-decoration: none;

}
.banner1{
    background: url(images/b1.jpg) no-repeat;
    min-height: 600px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;

}
.banner2{
    background: url(images/b2.jpg) no-repeat;
    min-height: 600px;
 
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
}
.banner3{
    background: url(images/b3.jpg) no-repeat;
    min-height: 600px;
 
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
}
.footer{
    background-color: rgb(71, 125, 206);
    background-image: linear-gradient(to top,rgb(53, 53, 226), rgb(96, 116, 228),rgb(191, 210, 221));
    font-size:15px;
    text-align: center;
    bottom: 0px;
    padding: 5px;
}

.wrapper{
    max-height: 300px;
    border: 1px solid white;
    display: flex;
    overflow-x:auto;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
.wrapper .item{
    min-width:280px;
    height: 280px;
    line-height: 280px; 
    border-radius: 12px;
    text-align: center;
    background-color: rgb(171, 236, 185);
    margin-right: 2px;
    font-size: 25px;
}
.more{
    background-color: rgb(255, 255, 255) !important;
    font-size: 35px !important;
}

.more a:hover{
    zoom: 120%;
}
.categoryhome{
    font-size: 30px;
    font-style: italic;
    color: rgb(196, 20, 14);
    font-weight: bold;
    padding-left: 20px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

@media(max-width:768px){
    .banner1, .banner2, .banner3{
        max-height: 400px;
        text-align: center;
    }
}


